{% extends "base.html" %}

{% block content %}
<h1>Welcome to Magic McDillerton</h1>
Browse around if you don't belong here. If you do, then this will give you a nice report of what's going on in our magic league!
<h2>Recent News</h2>
<ul>
    <li>You can finally input new matches, order them, remove unverified matches, and verify newly added matches!</li>
</ul>
<h2>Known Bugs</h2>
<ul>
    <li>I'm lesser bad at web programming.</li>
</ul>
<h2>Features not yet implemented</h2>
<ul>
    <li>Verification of matches by email</li>
    <li>Strength of schedule</li>
    <li>Blog my progress or release notes would be helpful</li>
</ul>
<h2>Seasons</h2>
<ul>
{% for season in season_list reversed %}
    <li><a href="/leaguematches/season/{{ season.id }}/">{{ season }}</a></li>
{% empty %}
    <p>No seasons are available.</p>
{% endfor %}
</ul>

{% endblock %}