{% extends "base.html" %}

{% block content %}
<h1>Welcome to Magic McDillerton</h1>
If you belong here, this site will give you a nice report of what's going on in our magic league!
<h2>Recent News</h2>
<ul>
    <li>Time to start the new Season!! Yay!</li>
</ul>
<h2>Features not yet implemented</h2>
<ul>
    <li>Verification of matches by email</li>
    <li>Strength of schedule</li>
</ul>
<h2>Seasons</h2>
<ul>
{% for season in season_list reversed %}
    <li><a href="/leaguematches/season/{{ season.id }}/">{{ season }}</a></li>
{% empty %}
    <p>No seasons are available.</p>
{% endfor %}
</ul>

{% endblock %}