<h1>{{ player }}</h1>
{#<h2>{{ player.email }}</h2>#}
<h2><a href="/leaguematches/">Seasons</a></h2>
<ul>
{% for season, rounds in matches %}
    <li><a href="/leaguematches/season/{{season.id}}/">{{ season }}</a></li>
    <ul>
        {% for round, matches in rounds %}
            <li>Round {{ round }}</li>
            <ul>
                {% for match in matches %}
                    <li>{{ match }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% empty %}
    <p>No seasons for this player.</p>
{% endfor %}
</ul>
