{% extends "base.html" %}

{% block content %}

<h1>{{ player }} ({{ player.user }})</h1>
{% if user.is_authenticated %}
    <h2>{{ player.user.email }}</h2>
    {% if user.player.id == player.id %}
        <h3><a href="/leaguematches/profile/">Edit your profile</a></h3>
    {% endif %}
{% endif %}
<h2>Seasons</h2>
{% for season, rounds in matches %}
    <h3><a href="/leaguematches/season/{{season.id}}/">{{ season }}</a></h3>
    {% for round, matches in rounds %}
        <h4>Round {{ round }}</h4>
        <table>
            {% for match in matches %}
                <tr>
                    <td>{{ match }}</td>
                    {% comment %}
                    <td>{% if forloop.counter != 1 %}<button>Up</button>{% endif %}</td>
                    <td>{% if forloop.revcounter != 1 %}<button>Down</button>{% endif %}</td>
                    {% endcomment %}
                </tr>
            {% endfor %}
        <table/>
    {% endfor %}
{% empty %}
    <p>No seasons for this player.</p>
{% endfor %}

{% endblock content %}
