<h1>{{ player }}</h1>
{#<h2>{{ player.email }}</h2>#}
<h2><a href="/leaguematches/">Seasons</a></h2>
<ul>
{% for season_matches in matches %}
    <li><a href="/leaguematches/season/{{season_matches.season.id}}/">{{ season_matches.season }}</a></li>
    <ul>
        {% for match in season_matches.matches %}
            <ul>
                <li>{{ match }} </li>
            </ul>
        {% empty %}
            <p>No match
        {% endfor %}
    </ul>
{% empty %}
    <p>No seasons for this player.</p>
{% endfor %}
</ul>
