{% extends "base.html" %}

{% block content %}

<h1>{{ season }}</h1>
<h2>Current Round: {{ season.current_round }}</h2>

<h2>Total</h2>
<table cellpadding=2>
    <tr>
        <th align="left">Rank</th>
        <th align="left">Name</th>
        <th align="left">Main Pts</th>
        <th align="left">TieB Pts</th>
        <th align="left">Mains</th>
        <th align="left">TieBs</th>
    </tr>
    {% for p_res in total_results %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td><a href="/leaguematches/player/{{p_res.player.id}}/">{{p_res.player}}</a></td>
        <td>{{p_res.main_pts}}</td>
        <td>{{p_res.tb_pts}}</td>
        <td>{{p_res.main_wins}}-{{p_res.main_losses}}</td>
        <td>{{p_res.tb_wins}}-{{p_res.tb_losses}}</td>
    </tr>
    {% endfor %}
</table>

{% for round, round_res in results reversed %}
    <h2>Round {{ round }}</h2>
    <table cellpadding=2>
        <tr>
            <th align="left">Rank</th>
            <th align="left">Name</th>
            <th align="left">Main Pts</th>
            <th align="left">TieB Pts</th>
            <th align="left">Mains</th>
            <th align="left">TieBs</th>
        </tr>
        {% for p_res in round_res %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="/leaguematches/player/{{p_res.player.id}}/">{{p_res.player}}</a></td>
            <td>{{p_res.main_pts}}</td>
            <td>{{p_res.tb_pts}}</td>
            <td>{{p_res.main_wins}}-{{p_res.main_losses}}</td>
            <td>{{p_res.tb_wins}}-{{p_res.tb_losses}}</td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}

{% comment %}
<h2>Matches</h2>
<ul>
{% for match in matches %}
    <li>{{ match }}</li>
{% empty %}
    <p>No matches for this season.</p>
{% endfor %}
</ul>
{% endcomment %}

{% endblock content %}
